<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'base.html'%}
    {%block content%}
    <h3>All Feedbacks</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th><th>Name</th><th>Email</th><th>Comment</th><th>Submitted At</th>
            </tr>
        </thead>
    
    <tbody>
        {% for fb in feedback %}
        <tr>
            <td>{{fb.ID}}</td>
            <td>{{fb.STUDENT_NAME}}</td>
            <td>{{fb.EMAIL}}</td>
            <td>{{fb.COMMENTS}}</td>
            <td>{{fb.SUBMITTED_AT}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}
</body>
</html>